<p style="color: green"><%= notice %></p>

<h1>Notes</h1>

<div id="notes">
<table class="datatable notes responsive no-wrap" id="events">
  <thead>
    <tr>
        <th>Date</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
        <tr>
            <td><%= link_to note.date.strftime("%Y-%b-%d"), note_path(note) %></td>
            <td><%= note.description %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to "New note", new_note_path %>
