<p style="color: green"><%= notice %></p>

<h1>Moisture Readings</h1>

<div id="moisture_readings">
  <% @moisture_readings.each do |moisture_reading| %>
    <%= render moisture_reading %>
    <p>
      <%= link_to "Show this moisture_reading", moisture_reading %>
    </p>
  <% end %>
</div>
