<p style="color: green"><%= notice %></p>

<h1>Moisture Readings (last week)</h1>

<div id="moisture_readings">
<table class="datatable moisture-readings responsive no-wrap" id="moisture-readings">
  <thead>
    <tr>
        <td>Date/Time</td>
        <td>Reading</td>
    </tr>
  </thead>
  <tbody>
    <% @moisture_readings_one_week.each do |moisture_reading| %>
        <tr>
            <td><%= moisture_reading.created_at.strftime("%A, %-d %b %Y %l:%M %p") %></td>
            <td><%= moisture_reading.value %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
