<p style="color: green"><%= notice %></p>

<div>
  <h1>About garden_1</h1>
  <p>This is an automated garden watering project, based on a Raspberry Pi running Ruby on Rails and Python, with a number
      of connections to hardware such as moisture sensors, A/D converters, solenoid valves, and water pumps.</p>
  <p>I built this in order to reduce the time and effort it takes to keep my garden watered, to gather data about soil
      conditions, and to make better use of rainwater collections.</p>
  <p>Source code and a project wiki are available on Github at <a href="https://github.com/Feltz-UD-EE/garden_1" target="_blank">github.com/Feltz-UD-EE/garden_1</a></p>
  <%= link_to "Home", public_home_path %>
</div>
