<p style="color: green"><%= notice %></p>

<div>
  <h1>Credits</h1>
  <h2>Inspiration</h2>
  <p>The initial idea for this project came from Kousheek Chakraborty and Satya Schiavina, with their post at
  <a href="https://www.instructables.com/Raspberry-Pi-Powered-IOT-Garden/" target="_blank">instructables.com/Raspberry-Pi-Powered-IOT-Garden/</a></p>
  <h2>Assistance</h2>
  <p>I would like to thank Jon Coffer and Chris Bach for assistance and critiques of the hardware and software.  I would
      especially like to thank my father, John F. Feltz, for help over the years in developing my knowledge and skills in
      everything from soldering, to carpentry, to the best way to glue PVC pipes.</p>
  <%= link_to "Home", public_home_path %>
</div>
