<p style="color: green"><%= notice %></p>

<main class="garden-static-page">
  <h1>Legal Information</h1>
  <p>Source code is available under the MIT license.  See <a href="https://github.com/Feltz-UD-EE/garden_1/blob/main/LICENSE" target="_blank">
      github.com/Feltz-UD-EE/garden_1/blob/main/LICENSE</a> for the full license statement.</p>
</main>
