<p style="color: green"><%= notice %></p>

<div>
  <h1>Legal Information</h1>
  <p>Source code is available under the MIT license.  See <a href="github.com/Feltz-UD-EE/garden_1/blob/main/LICENSE">
      github.com/Feltz-UD-EE/garden_1/blob/main/LICENSE</a> for the full license statement.</p>
</div>
