<p style="color: green"><%= notice %></p>

<h1>Actuators</h1>

<div id="actuators">
  <% @actuators.each do |actuator| %>
    <%= render actuator %>
    <p>
      <%= link_to "Show this actuator", actuator %>
    </p>
  <% end %>
</div>

<%= link_to "New actuator", new_actuator_path %>
