<p style="color: green"><%= notice %></p>

<h1>Zones</h1>

<div id="zones">
  <% @zones.each do |zone| %>
    <%= render zone %>
    <p>
      <%= link_to "Show this zone", zone %>
    </p>
  <% end %>
</div>

<%= link_to "New zone", new_zone_path %>
