// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-error {
  width: 400px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 20%;
}

.center-error .right {
  float: right;
}
