<% 
   #
   # Copyright 2015-2016 2022-2023 John C. Feltz, github: Feltz-UD-EE/garden_1
   #
%> 
<div class="inner group">
    <div class="large-12 columns" style="display: inline-block">
      <span style="float: left;">
        <p style="padding-left: 0px">Copyright &copy; <script>document.write(new Date().getFullYear())</script>
      	  <span style="font-family: 'Open Sans'; font-size: 14pt; color: #31385C">John C. Feltz
        </p>
      </span>
    </div>
</div>