<% 
   #
   # Copyright 2022 John C. Feltz, github: Feltz-UD-EE/garden_1
   #
%> 
<div class="inner group">
      <span style="float: left;">
        <p style="padding-left: 0px">Copyright &copy; 2022 John C. Feltz.  Open-sourced under the MIT license.</p>
      </span>
</div>