<% 
   #
   # Copyright 2022 John C. Feltz, github: Feltz-UD-EE/garden_1
   #
%> 
<!-- START FOOTER -->
<div>
  <%= link_to "About", about_path %>
  <%= link_to "Credits", credits_path %>
  <%= link_to "Legal", legal_path %>
</div>
