<% 
   #
   # Copyright 2015-2016 2022-2023 John C. Feltz, github: Feltz-UD-EE/garden_1
   #
%> 
<!-- START FOOTER -->

  <div class="inner footer-main">
    <div class="large-12 columns">
  	  <div class="large-12 columns">
        <h3>About </h3>
        <p></p>
      </div>
    </div>
  </div>
