<% 
   #
   # Copyright 2015-2016 2022-2023 John C. Feltz, github: Feltz-UD-EE/garden_1
   #
%> 
<nav class="top-bar contain-to-grid" id='navbar' data-topbar>
    <ul class="title-area">
        <li>Logo</li>
    </ul>

    <section class="top-bar-section text-center">
        <ul class="ocean-nav">
            <li> <%= link_to "Tanks", tanks_path %> </li>
            <li> <%= link_to "Zones", zones_path %> </li>
        </ul>
    </section>
</nav>
